@page
@model GoedeDoelenHelpen.Pages.Charities.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Charity[0].Adress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Charity[0].PostCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Charity[0].City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Charity[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Charity[0].KVKNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Charity[0].Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Charity[0].Activated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Charity[0].FiscalNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Charity[0].IBAN)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Charity) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KVKNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FiscalNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IBAN)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
