@page
@model GoedeDoelenHelpen.Pages.Charity.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Charity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Charity.Adress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Charity.Adress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Charity.PostCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Charity.PostCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Charity.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Charity.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Charity.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Charity.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Charity.KVKNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Charity.KVKNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Charity.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Charity.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Charity.Activated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Charity.Activated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Charity.FiscalNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Charity.FiscalNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Charity.IBAN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Charity.IBAN)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Charity.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
